# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:112233@localhost:5432/Module-7-challenge")

In [3]:
query = """
SELECT transaction_date, trnsaction_amount, transaction.card_number, card_holder_id 
FROM transaction
INNER JOIN credit_card ON credit_card.card_number = transaction.card_number
"""
query_sd = pd.read_sql(query, engine)
query_sd

,transaction_date,trnsaction_amount,card_number,card_holder_id
0,2018-01-01 21:35:10,6.22,3561954487988605,13
1,2018-01-01 21:43:12,3.83,5135837688671496,13
2,2018-01-01 22:41:21,9.61,213193946980303,10
3,2018-01-01 23:13:30,19.03,4263694062533017,4
4,2018-01-01 23:15:10,2.95,4498002758300,18
...,...,...,...,...
3495,2018-12-31 01:24:15,4.84,4723783028106084756,15
3496,2018-12-31 03:33:28,3.26,4165305432349489280,10
3497,2018-12-31 05:53:58,10.73,5361779664174555,19
3498,2018-12-31 08:22:17,11.87,4188164051171486,23
3499,2018-12-31 09:50:25,19.75,4723783028106084756,15

In [4]:
# Write function that locates outliers using standard deviation
def find_outliers_sd (transactions):
    mean=np.mean(transactions)
    std =np.std(transactions)
    outliers = []
    for transaction in transactions:
        if transaction > (mean + 3*std):
            outliers.append (transaction)
        if transaction < (mean - 3*std):
            outliers.append (transaction)
    return outliers

In [8]:
# Find anomalous transactions for 3 random card holders
random_cards = random.sample(set(query_sd.card_holder_id), 3)

In [10]:
filtered_query = query_sd.loc[query_sd.card_holder_id.isin(random_cards)]
filtered_query

        transaction_date  trnsaction_amount       card_number  card_holder_id
0    2018-01-01 21:35:10               6.22  3561954487988605              13
1    2018-01-01 21:43:12               3.83  5135837688671496              13
7    2018-01-02 04:36:45               3.36  4506405265172173              20
8    2018-01-02 05:45:43              16.69  5297187379298983              12
11   2018-01-02 13:17:15               2.64      501879657465              12
...                  ...                ...               ...             ...
3464 2018-12-28 07:02:38              17.13  4711773125020499              13
3473 2018-12-28 17:45:51               4.34  4506405265172173              20
3475 2018-12-28 22:13:25              12.76  4711773125020499              13
3481 2018-12-29 20:12:05              10.17  3535651398328201              20
3489 2018-12-30 21:03:21              18.48  5135837688671496              13

[629 rows x 4 columns]

In [15]:
transactions_selected = filtered_query.groupby('card_holder_id')['trnsaction_amount'].apply(list).reset_index()
transactions_selected

   card_holder_id                                  trnsaction_amount
0              12  [16.69, 2.64, 1031.0, 5.31, 7.6, 10.9, 21.27, ...
1              13  [6.22, 3.83, 12.45, 12.7, 4.57, 18.35, 16.64, ...
2              20  [3.36, 2.76, 5.72, 2.84, 14.31, 18.72, 2.7, 10...

In [17]:
transactions_selected['outliers'] = transactions_selected['trnsaction_amount'].apply(find_outliers_sd)
transactions_selected

,card_holder_id,trnsaction_amount,outliers
0,12,"[16.69, 2.64, 1031.0, 5.31, 7.6, 10.9, 21.27, ...","[1031.0, 1678.0, 1530.0, 1102.0, 1592.0, 1108...."
1,13,"[6.22, 3.83, 12.45, 12.7, 4.57, 18.35, 16.64, ...",[]
2,20,"[3.36, 2.76, 5.72, 2.84, 14.31, 18.72, 2.7, 10...",[]

## Identifying Outliers Using Interquartile Range

In [20]:
# Write a function that locates outliers using interquartile range
def find_outliers_iqr (transactions):
    q3, q1 = np.percentile(transactions, [75, 25])
    iqr = q3 - q1
    outliers = []
    for transaction in transactions:
        if transaction > (q3 + 1.5*iqr):
            outliers.append (transaction)
        if transaction < (q1 - 1.5*iqr):
            outliers.append (transaction)
    return outliers

In [21]:
# Find anomalous transactions for 3 random card holders
transactions_selected['outliers_iqr'] = transactions_selected['trnsaction_amount'].apply(find_outliers_iqr)
transactions_selected

,card_holder_id,trnsaction_amount,outliers,outliers_iqr
0,12,"[16.69, 2.64, 1031.0, 5.31, 7.6, 10.9, 21.27, ...","[1031.0, 1678.0, 1530.0, 1102.0, 1592.0, 1108....","[1031.0, 1678.0, 1530.0, 852.0, 1102.0, 1592.0..."
1,13,"[6.22, 3.83, 12.45, 12.7, 4.57, 18.35, 16.64, ...",[],[]
2,20,"[3.36, 2.76, 5.72, 2.84, 14.31, 18.72, 2.7, 10...",[],[]